<div class="playlist-item">
  {{#link-to "video-playlist" playlist.fileName}}
    <img height="150px" src="assets/images/video-playlist.png" class="thumbnail">
  {{/link-to}}

  <p class="video-title">{{playlist.fileName}}</p>
  <p class="video-info">Size: {{playlist.size}}</p>
  <p class="video-info">Created {{playlist.daysAgo}} day{{if (greater playlist.daysAgo 1) "s"}} ago</p>
</div>
